body {
    background-color: #e6f0ff; /* azul bem claro */
    color: #003366; /* azul escuro para textos */
    font-family: Arial, sans-serif;
}

.caixa-principal {
    background-color: #ffffff; /* branco */
    border: 2px solid #003366;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #3399ff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #267acc;
}
